

.new-tweet {
  border-radius: 5px;
  border: 1px solid #c6c6c6;
  background-color: #e0e0e0;
  padding-left: 20px;
  padding-right: 20px;
  width: 350px;
  height: 150px;
  margin-left: 3em;
  margin-right: 3em;


}

hr {
height:0;
border:0;
border-top:1px solid #000000;
margin-top:-1.2em;
width: 100%;
margin-left: auto;
margin-right: auto;

}

textarea {
  width: 100%;
  margin-top: 0.5em;
  padding-top: 6px;
  padding-left: 6px;

}

.counter {
  margin-right: 0px;
  float: right;
}